
.filmsPage{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
    row-gap: 30px;

    position: absolute;
    top: 10%;
    width: 75%;
    left : 11%;

}

.LeftElementGirdFilms{
    background-color: #CBDBD7;
    padding: 5%;
}

.RightElementGirdFilms{
    background-color: #CBDBD7;

}

.AfficheFilmGrandFormatPageFilm{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border: solid;
    position: relative;
    left: 10%;


}

