
.filmsPage{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
    row-gap: 30px;

    position: absolute;
    top: 10%;
    width: 75%;
    left : 11%;

}

.LeftElementGirdFilms{
    background-color: #CBDBD7;
    border-radius: 50% 0% 0% 50%;

}

.RightElementGirdFilms{
    background-color: #CBDBD7;
    border-radius: 0% 50% 50% 0%;
    padding: 10%;
}


