.header{
   position: fixed;
   height: 8%;
   width: 100%;
   top: 0%;
   left: 0%;
   display: grid;
   grid-template-columns:  13% 15% 16% 20% 18% 18%

}

.Logo{
   height: 7.5%;
   position: fixed;
   left: 1%;
   top: 0.35%;
}
.headerItems{
   color:  #193441;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #FCFFF5;
   background-color: #CBDBD7;
}

.headerTitle{
   color:  #FCFFF5;

   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #000000;
   background-color:   #193441;
}


.gabaritBackground{
   background-color: #3E606F;
}

.TitleHeaderSize{
   font-size: xx-large;
   position: fixed ;
   left: 5%
}