
.FormulairePageLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: #CBDBD7;
    position: absolute;
    top : 15%;
    left : 25%;
    width: 50%;
    height: 75%;



}

.ConnexionTitleLogin{

}

.InscriptionTitleLogin{

}





input[type=search] {
    border: 1px dotted #999;
    border-radius: 0;

    -webkit-appearance: none;
}