
.PlanningGird{

    background-color: #CBDBD7;

    position: absolute;
    top : 13%;
    left: 10%;
    width: 80%;
    height: 83.5%;

    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 8% 23% 23% 23% 23% ;
    padding: 20px;


}