.header{
   position: fixed;
   background-color: black;
   height: 13.5%;
   width: 100%;
   top: 0%;
   left: 0%;

   display: grid;
   grid-template-columns:  10% 17% 17% 20% 18% 18%

}

.Logo{
   height: 10%;
   position: fixed;
   left: 2%;
   top: 1.7%;
}
.headerItems{
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #ccc;

}

.gabaritBackground{
   background-color: pu;
}